---
layout: layouts/base.njk
templateClass: row 
permalink: /blog/
eleventyNavigation:
  key: blog
  order: Latest
title: Blog List
---
<h1></h1>

<p>
  <span style="font-weight: bold;">Rating:</span>
  {{ rating }}
</p>

{% for blogpost in collections.blog%}
   <a href="{{blogpost.url}}">{{blogpost.url}}</a>
{% endfor %}

<img src="{{ thumbnail | url }}"/>